<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shop_template}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Shop</title>
</head>
<body>
    <div>
        <form method="post" th:object="${shop}" th:action="@{/registerShop}">
            <div class="input-group">
                <input type="text" placeholder="Enter shop name" th:field="sh_name" required>
            </div>

            <div class="input-group">
                <input type="text" placeholder="Owner Email" th:field="createdBy" required>
            </div>


        </form>
    </div>

</body>
</html>