<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="header">
        <link rel="stylesheet" href="../custom.css"  th:href="@{/../custom.css}"/>
</head>
<body layout:fragment="body">
<input  class="bg" type="text" name="fname" required>
<input  class="bg" type="text" name="lname" required>
<input  class="bg" type="text" name="username" required>

<footer th:fragment="footer">

    <p>&copy; 2020 FredSystems</p>
</footer>
</body>
</html>
