<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blank_template}">
<head >
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>

<body >
<div layout:fragment="content">
    <div id="wrapper">
        <div class="form-container">
            <span class="form-heading">Sign Up</span>
            <form action="">

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="First Name" required>
                    <span class="bar"></span>
                </div>

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Last Name" required>
                    <span class="bar"></span>
                </div>

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username" required>
                    <span class="bar"></span>
                </div>

                <div class="input-group">
                    <i class="fa fa-envelope"></i>
                    <input type="email" placeholder="Email" required>
                    <span class="bar"></span>
                </div>

                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password" required>
                    <span class="bar"></span>
                </div>

                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" required>
                    <span class="bar"></span>
                </div>

                <button type="submit" style="margin: 3rem;" class="btn btn-danger">Sign Up</button>

                <div class="switch-login">
                    <a href="">Already have an account?<span>Login</span></a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>