<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blank_template}">
<head >
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body >
<div layout:fragment="signIn">
    <div id="wrapper">
        <div class="form-container">
            <span class="form-heading">Login</span>
            <form action="">

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username" required>
                    <span class="bar"></span>
                </div>

                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password" required>
                    <span class="bar"></span>
                </div>

                <button type="submit" style="margin: 3rem;" class="btn btn-success">Login</button>

                <div class="switch-login">
                    <a href="">Don't have an account?<span>Sign Up</span></a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>