<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/custom.css}" >

    <link rel="stylesheet" th:href="@{/font-awesome/css/fontawesome.min.css}" >
    <link rel="stylesheet" th:href="@{/font-awesome/css/solid.min.css}" >
    <link rel="stylesheet" th:href="@{/font-awesome/css/regular.min.css}" >

    <script th:src="@{/jquery-3.5.1.min.js}" ></script>

</head>
<div th:insert="fragments/sign_up :: signUp "></div>
</body>
</html>