<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>One</title>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/custom.css}" >

    <link rel="stylesheet" th:href="@{/font-awesome/css/fontawesome.min.css}" >
    <link rel="stylesheet" th:href="@{/font-awesome/css/solid.min.css}" >
    <link rel="stylesheet" th:href="@{/font-awesome/css/regular.min.css}" >

    <script th:src="@{/jquery-3.5.1.min.js}" ></script>

</head>
<body layout:fragment="body">
<div layout:fragment="navigatioHeader">
<p>Some NavBar would come here....</p>
<p>Some NavBar would come here....</p>
</div>

<div layout:fragment="content"></div>


<div layout:fragment="footer"> Footer</div>

</body>
</html>