<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blank_template}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body >
<div layout:fragment="content">
    <div id="wrapper">
        <div class="form-container">
            <span class="form-heading">Reset Password</span>
            <form th:action="@{/forgot-password}" method="post">

                <div class="input-group" layout:fragment="username">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username" required>
                    <span class="bar"></span>
                </div>

                    <button type="submit" style="margin: 3rem;" class="btn btn-danger">Reset </button>

            </form>

        </div>
    </div>
</div>
</body>
</html>