<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blank_template}" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>SignUp</title>

    <script type="text/javascript" th:src="@{/jquery-3.5.1.min.js}" ></script>
</head>

<body >
<div layout:fragment="content">
    <div id="wrapper">
        <div class="form-container">
            <span class="form-heading">Sign Up</span>
            <form th:action="@{/register}" th:object="${user}" method="post" >

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" th:field="*{usFname}" placeholder="First Name"
                           required/>
                    <span class="bar"></span>
                    <label th:for="usFname" th:if="${#fields.hasErrors('usFname')}" th:errors="*{usFname}" required="required"
                           class="btn btn-danger">
                    </label>

                </div>

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Last Name" th:field="*{usLname}" required>
                    <span class="bar"></span>
                    <label th:for="usLname" th:if="${#fields.hasErrors('usLname')}" th:errors="*{usLname}" required="required"
                           class="btn btn-danger">
                    </label>
                </div>

                <div class="input-group">
                    <i class="fa fa-envelope"></i>
                    <input type="email" placeholder="Email Address" th:field="*{usEmail}" required>
                    <span class="bar"></span>

                    <label th:for="usEmail" th:if="${#fields.hasErrors('usEmail')}" th:errors="*{usEmail}" required="required"
                           class="btn btn-danger">
                    </label>
                </div>

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username" th:field="*{usUsername}" required>
                    <span class="bar"></span>
                    <label th:for="usUsername" th:if="${#fields.hasErrors('usUsername')}" th:errors="*{usUsername}"
                           class="btn btn-danger">
                    </label>
                </div>

                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" id="userPassword" th:field="*{usPassword}" required>
                    <span class="bar"></span>
                    <label th:for="usPassword" th:if="${#fields.hasErrors('usPassword')}" th:errors="*{usPassword}" required="required"
                           class="btn btn-danger">
                    </label>
                </div>

                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" name="confirmPassword" id="userConfirmPassword" placeholder="Confirm Password" th:field="*{usConfirmPassword}" required>
                    <span class="bar"></span>
                    <label th:for="usConfirmPassword" th:if="${#fields.hasErrors('usConfirmPassword')}" th:errors="*{usConfirmPassword}" required="required"
                           class="btn btn-danger">
                    </label>
                </div>
                <div>
                         <span class="text-danger" id="passwordMismatch"></span>
                </div>

                <button type="submit" id="submitButton" style="margin: 3rem;" class="btn btn-danger">Sign Up</button>

                <div class="switch-login">
                    <a href="/login">Already have an account?<span> Login</span></a>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>