<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blank_template}" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>

<body >
<div layout:fragment="content">
    <div id="wrapper">
        <div class="form-container">
            <span class="form-heading">Sign Up</span>
            <form th:action="@{/register}" th:object="${user}" method="post" >

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" th:field="*{usFname}" placeholder="First Name"
                           required/>
                    <span class="bar"></span>
                    <label th:for="usFname" th:if="${#fields.hasErrors('usFname')}" th:errors="*{usFname}" required="required"
                           class="btn btn-danger">
                    </label>

                </div>

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Last Name" th:field="*{usLname}" required>
                    <span class="bar"></span>
                    <label th:for="usLname" th:if="${#fields.hasErrors('usLname')}" th:errors="*{usLname}" required="required"
                           class="btn btn-danger">
                    </label>
                </div>

                <div class="input-group">
                    <i class="fa fa-envelope"></i>
                    <input type="email" placeholder="Email Address" th:field="*{usEmail}" required>
                    <span class="bar"></span>

                    <label th:for="usEmail" th:if="${#fields.hasErrors('usEmail')}" th:errors="*{usEmail}" required="required"
                           class="btn btn-danger">
                    </label>
                </div>

                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username" th:field="*{usUsername}" required>
                    <span class="bar"></span>
                    <label th:for="usUsername" th:if="${#fields.hasErrors('usUsername')}" th:errors="*{usUsername}"
                           class="btn btn-danger">
                    </label>
                </div>

                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" th:field="*{usPassword}" required>
                    <span class="bar"></span>
                    <label th:for="usPassword" th:if="${#fields.hasErrors('usPassword')}" th:errors="*{usPassword}" required="required"
                           class="btn btn-danger">
                    </label>
                </div>

                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" name="confirmPassword" placeholder="Password" th:field="*{usConfirmPassword}" required>
                    <span class="bar"></span>
                    <label th:for="usConfirmPassword" th:if="${#fields.hasErrors('usPassword')}" th:errors="*{usConfirmPassword}" required="required"
                           class="btn btn-danger">
                    </label>
                </div>

<!--                <script>-->
<!--                    $('#password, #confirmPassword').on('keyup', function () {-->
<!--                        if ($('#pass').val() == $('#cpass').val()) {-->
<!--                            $('#message').html('Matching').css('color', 'green');-->
<!--                        }-->
<!--                        else $('#message').html('Not Matching').css('color', 'red');-->
<!--                    });-->
<!--                </script>-->

                <button type="submit" style="margin: 3rem;" class="btn btn-danger">Sign Up</button>

                <div class="switch-login">
                    <a href="/login">Already have an account?<span> Login</span></a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>